@font-face {
  font-family: HelveticaNeueCyr;
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.otf") format("opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman") format("svg");
  /* Legacy iOS */
  font-weight: 400;
}
@font-face {
  font-family: HelveticaNeueCyr;
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.otf") format("opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light") format("svg");
  /* Legacy iOS */
  font-weight: 300;
}
@font-face {
  font-family: PermianSerifTypeface;
  src: url("../fonts/PermianSerifTypeface/PermianSerifTypeface.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PermianSerifTypeface/PermianSerifTypeface.eot?#iefix") format("embedded-opentype"), url("../fonts/PermianSerifTypeface/PermianSerifTypeface.otf") format("opentype"), url("../fonts/PermianSerifTypeface/PermianSerifTypeface.woff") format("woff"), url("../fonts/PermianSerifTypeface/PermianSerifTypeface.ttf") format("truetype"), url("../fonts/PermianSerifTypeface/PermianSerifTypeface.svg#PermianSerifTypeface") format("svg");
  /* Legacy iOS */
  font-weight: 400;
}
@font-face {
  font-family: PermianSerifTypeface;
  src: url("../fonts/PermianSerifTypeface/PermianSerifTypeface-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PermianSerifTypeface/PermianSerifTypeface-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PermianSerifTypeface/PermianSerifTypeface-Italic.otf") format("opentype"), url("../fonts/PermianSerifTypeface/PermianSerifTypeface-Italic.woff") format("woff"), url("../fonts/PermianSerifTypeface/PermianSerifTypeface-Italic.ttf") format("truetype"), url("../fonts/PermianSerifTypeface/PermianSerifTypeface-Italic.svg#PermianSerifTypeface-Italic") format("svg");
  /* Legacy iOS */
  font-style: italic;
}
header {
  height: 180px;
  color: #353535;
}
header .h_left {
  float: left;
}
header .h_left img {
  width: 130px;
}
header .h_right {
  float: right;
  text-align: right;
}
header .h_right p {
  margin: 25px 0;
  font-size: 17px;
  color: #873644;
}
header .h_right p:last-of-type {
  margin-left: 64px;
  text-indent: -64px;
  font-size: 16px;
  line-height: 28px;
  color: #353535;
}
header .h_center {
  width: 370px;
  overflow: hidden;
  text-align: left;
  font-size: 19px;
  margin-left: 200px;
}
header .h_center p:first-of-type {
  text-transform: uppercase;
}
header + nav {
  background-color: #444444;
  height: 108px;
  padding: 10px 0;
  box-sizing: border-box;
}

#menu-top {
  height: 88px;
}
#menu-top li {
  width: 239px;
  font-size: 15px;
  line-height: 29px;
  height: inherit;
  border-right: 1px solid #636363;
}
#menu-top li:last-child {
  border: none;
}
#menu-top li a {
  height: auto;
  display: block;
  width: 140px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #E2E2E2;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#menu-top li a:hover {
  color: #adadad;
}

footer {
  height: 125px;
  background-color: #EFEFEF;
  color: #8C8C8C;
}
footer nav {
  width: 670px;
  height: 125px;
  overflow: auto;
  float: left;
}
footer nav #menu-bottom {
  width: 100%;
  height: 96px;
  overflow: auto;
  font-size: 15px;
}
footer nav #menu-bottom li {
  float: left;
  width: 250px;
  line-height: 32px;
}
footer nav #menu-bottom li:nth-child(2n+1) {
  margin-right: 100px;
}
footer nav #menu-bottom li a {
  color: #8C8C8C;
}
footer nav #menu-bottom li a:hover {
  color: #353535;
}
footer .f_right {
  float: right;
  font-size: 17px;
  text-align: right;
}
footer .f_right a[href^=mailto] {
  color: inherit;
}
footer .f_right p {
  margin: 17px 0;
}

main {
  font-size: 16px;
}
main h2 {
  text-transform: uppercase;
  color: #873644;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 52px 0 20px;
}
main p {
  line-height: 36px;
  margin: 20px 0;
}
main hr {
  margin-top: 30px;
}

.slogan {
  height: 250px;
  background-image: url(../images/slogan.png);
  background-size: cover;
  overflow: auto;
  color: white;
  text-align: center;
}
.slogan p.phrase {
  font-size: 46px;
}
.slogan p.clarification {
  font-size: 26px;
  font-style: italic;
}

#home button.more {
  display: block;
  background: #353535;
  font-size: 15px;
  width: 216px;
  height: 53px;
  text-transform: uppercase;
  line-height: 53px;
  margin: 30px auto;
}
#home button.more a {
  color: white;
  height: inherit;
}
#home ul {
  padding-left: 30px;
  list-style: disc outside;
}
#home ul li {
  width: 50%;
  line-height: 36px;
}
#home ul li:nth-of-type(2n) {
  width: 320px;
}

#advocates .advocates {
  margin: 30px 0;
}
#advocates .advocates .advocate {
  width: 30%;
  text-align: center;
}
#advocates .advocates .advocate img {
  display: block;
  margin: 0 auto;
  border-radius: 75px;
}
#advocates .advocates .advocate .name {
  font-size: 18px;
}
#advocates .advocates .advocate .information {
  font-size: 16px;
  line-height: 30px;
}
#advocates .advocates .advocate .tel {
  font-size: 18px;
  color: #873644;
}

#price ul {
  margin: 30px 0;
  line-height: 32px;
}
#price ul li {
  margin-top: 30px;
  font-size: 18px;
  color: #873644;
  font-weight: bold;
}
#price ul li ul {
  margin: 0;
}
#price ul li ul li {
  margin-top: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #353535;
  display: block;
  padding-right: 300px;
  position: relative;
  font-weight: normal;
  border-top: 1px dashed #636363;
}
#price ul li ul li:last-of-type {
  border-bottom: 1px dashed #636363;
}
#price ul li ul li span {
  position: absolute;
  right: 0;
  bottom: calc(50% - 16px);
  color: #873644 !important;
  font-size: 18px;
  display: block;
}

#free-assistance .document {
  background-color: #EFEFEF;
  margin: 20px 0;
  padding: 10px 20px;
  position: relative;
}
#free-assistance .document:first-of-type {
  margin-top: 50px;
}
#free-assistance .document:last-of-type {
  margin-bottom: 50px;
}
#free-assistance .document h3 {
  font-size: 18px;
  font-weight: 400;
  color: #873644;
  margin: 0;
  line-height: 30px;
}
#free-assistance .document p {
  font-size: 16px;
  margin: 0;
  line-height: 30px;
  padding-right: 100px;
}
#free-assistance .document a {
  position: absolute;
  display: block;
  width: 39px;
  height: 40px;
  bottom: 10px;
  right: 10px;
  background-image: url(../images/download.png);
}

.contacts_block {
  margin: 40px 0;
}
.contacts_block .contacts_item {
  width: 50%;
  margin-bottom: 20px;
}
.contacts_block .contacts_item:nth-of-type(2n) {
  text-align: right;
}

.helvetica-neue-cyr-reg {
  font-family: HelveticaNeueCyr;
  font-weight: 400;
}

.helvetica-neue-cyr-light {
  font-family: HelveticaNeueCyr;
  font-weight: 300;
}

.permian-serif-typeface {
  font-family: PermianSerifTypeface;
}

.permian-serif-typeface-reg {
  font-family: PermianSerifTypeface;
  font-weight: 400;
}

.permian-serif-typeface-italic {
  font-family: PermianSerifTypeface;
  font-style: italic;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fxbx_block {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.fxbx_sp_between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.fxbx_wrap {
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */
  flex-wrap: wrap;
}

body, ul, li, button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #353535;
  display: block;
}
a[href^=mailto] {
  display: inline-block;
  color: #873644;
}

.wrapper {
  margin: 0 auto;
  overflow: auto;
}

.wrapper-760 {
  width: 760px;
  min-width: 760px;
}

.wrapper-960 {
  width: 960px;
  min-width: 960px;
}
