#price {
  ul {
    margin: 30px 0;
    line-height: 32px;
    li {
      margin-top: 30px;
      font-size: 18px;
      color: $red-text;
      font-weight: bold;
      ul {
        margin: 0;
        li {
          margin-top: 0;
          padding: 10px 0;
          font-size: 16px;
          color: $black-text;
          display: block;
          padding-right: 300px;
          position: relative;
          font-weight: normal;
          border-top: 1px dashed $grey-stroke;
          &:last-of-type {
            border-bottom: 1px dashed $grey-stroke;
          }
          span {
            position: absolute;
            right: 0;
            bottom: calc(50% - 16px);
            color: $red-text !important;
            font-size: 18px;
            display: block;
          }
        }
      }
    }
  }
}