header {
  height: 180px;
  color: $black-text;
  .h_left {
    float: left;
    img {
      width: 130px;
    }
  }
  .h_right {
    float: right;
    text-align: right;
    p {
      margin: 25px 0;
      font-size: 17px;
      color: $red-text;
      &:last-of-type {
        margin-left: 64px;
        text-indent: -64px;
        font-size: 16px;
        line-height: 28px;
        color: $black-text;
      }
    }
  }
  .h_center {
    width: 370px;
    overflow: hidden;
    text-align: left;
    font-size: 19px;
    margin-left: 200px;
    p:first-of-type {
      text-transform: uppercase;
    }
  }
  & + nav {
    background-color: $black-bg;
    height: 108px;
    padding: 10px 0;
    box-sizing: border-box;
  }
}

#menu-top {
  height: 88px;
  li {
    width: 239px;
    font-size: 15px;
    line-height: 29px;
    height: inherit;
    border-right: 1px solid $grey-stroke;
    &:last-child {
      border: none;
    }
    a {
      height: auto;
      display: block;
      width: 140px;
      margin: 0 auto;
      text-transform: uppercase;
      color: $white-text;
      text-align: center;
      
      @include vertical-align();
      
      &:hover {
        color: $menu-hover;
      }
    }
  }
}