main {
  font-size: 18px;
  h2 {
    text-transform: uppercase;
    color: $red-text;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 52px 0 20px;
  }
  p {
    line-height: 42px;
    margin: 20px 0;
  }
  hr {
    margin-top: 30px;
  }
}