/*@import url( '/stylesheets/style.css' );*/

.advocate {
  border: 2px solid red;
}

.advocate img {
  border: 2px solid blue;
}

.name {
  border: 2px solid blue;
}

.information {
  border: 2px solid blue
}

.tel {
  border: 2px solid blue
}